<h1>Students - Rooster </h1>


<table id="results" data-toggle="table" data-pagination="true" data-search="true">
  <thead>
  <tr>
    <th>Roll No</th>
    <th>Name</th>
    <th>Standard</th>
    <th>Grade</th>
   </tr>
  </thead>

  <tbody>
  <tr>
        <td> 1 </td>
        <td>Pavan</td>
        <td>2nd</td>
        <td> A</td>
        
        
      </tr>
  </tbody>
</table>

